h1 {
	color: rgb(var(--v-theme-primary));
}

a {
	color: rgb(var(--v-theme-primary));
}

/* stylelint-disable selector-class-pattern */
.v-autocomplete__content .v-list {
	background: rgb(var(--v-theme-secondary)) !important;
}

.v-switch__thumb {
	background-color: rgb(var(--v-theme-secondary)) !important;
}

.v-input--disabled {
	.v-switch__track {
		background-color: green !important;
	}
}
/* stylelint-enable selector-class-pattern */
