@use 'sass:meta';

:root {
	--scrollbar-offset-right: 0rem;
}

html {
	overflow-y: auto !important;
}

h1 {
	color: rgb(var(--v-theme-primary));
}

/* stylelint-disable selector-class-pattern */
[data-theme='darkTheme'],
.v-theme--darkTheme {
	@include meta.load-css('./dark');
}

.v-autocomplete__content .v-list {
	background: rgb(var(--v-theme-secondary)) !important;
}

.v-switch__thumb {
	background-color: rgb(var(--v-theme-secondary)) !important;
}

.v-input--disabled {
	.v-switch__track {
		background-color: green !important;
	}
}

.v-window__left,
.v-window__right {
	color: white;
	background-color: rgb(var(--v-theme-primary));
}
/* stylelint-enable selector-class-pattern */

.v-main {
	height: 100vh;
	position: relative;
	overflow: auto;
	padding-left: 3.438rem;
}

.green {
	color: green;
}

.red {
	color: red;
}

.light-blue {
	color: lightskyblue;
}

.v-tabs-wrapper {
	height: calc(100% - 4.5rem);
}

.align-items-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

pre,
mark {
	background-color: rgb(var(--v-theme-code));
	color: rgb(var(--v-theme-on-code));
	overflow-wrap: break-word;
	white-space: pre-line;
}

mark {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	cursor: pointer;
}

.v-treeview-group {
	margin-left: 0.375rem;
}

.v-divider {
	color: black;
}

.v-table {
	background: background;
}
