h1 {
	color: rgb(var(--v-theme-primary));
}

/* stylelint-disable-next-line selector-class-pattern */
.v-autocomplete__content .v-list {
	background: rgb(var(--v-theme-secondary)) !important;
}

pre,
mark {
	background-color: rgb(var(--v-theme-secondary));
	color: white;
	overflow-wrap: break-word;
	white-space: pre-line;
	padding-left: 4px;
	padding-right: 4px;
}

a {
	color: rgb(var(--v-theme-primary));
}

.comment {
	word-wrap: break-word;
	white-space: normal;
}

.logo-and-title {
	color: inherit;
	text-decoration: none;
	width: 265px;
}
