name: SonarCloud
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '24'

      - name: Cache npm modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ~/.cache
            frontend/node_modules
            backend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm i --ignore-scripts

      - name: Install backend dependencies
        working-directory: backend
        run: npm i --ignore-scripts

      - name: Make reports dir
        run: mkdir .reports

      - name: Set backend .env values
        working-directory: backend
        run: echo "node_env='local'" >> .env

      - name: Frontend ESLint
        working-directory: frontend
        run: npm run scan:lint
        continue-on-error: true

      - name: Backend ESLint
        working-directory: backend
        run: |
          mkdir -p ../.reports
          npx eslint src/**/*.ts --format json --output-file ../.reports/eslint-backend-report.json --no-fix
        continue-on-error: true

      - name: Stylelint
        working-directory: frontend
        run: npm run scan:stylelint
        continue-on-error: true

      - name: Frontend Tests with Coverage
        working-directory: frontend
        run: npm run test:coverage
        continue-on-error: true

      - name: Backend Tests with Coverage
        working-directory: backend
        run: npm run test:coverage
        continue-on-error: true

      - name: Update paths
        run: |
          chmod +x .github/scripts/update_paths.sh
          ./.github/scripts/update_paths.sh

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
